@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  align-items: center;
  background: linear-gradient(90deg, #1e9086, #92dea0);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  gap: 20px;
  height: 100vh;
  justify-content: center;
}

.login-form {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.login-input {
  background: none;
  border: none;
  border-bottom: 2px solid #d1d4d3;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  padding-left: 24px;
  width: 85%;
}

.login-button {
  color: #017c80;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 2em;
  justify-content: center;
  margin-top: 25px;
  width: 5em;
}

.login-button:hover {
  background-color: #3ba38d;
  border: 1px solid #017c80;
  color: white;
}

.login-button:disabled {
  background-color: #ccc;
  border: 1px solid #999;
  color: #666;
}

.header {
  padding: 30px;
  text-align: center;
  text-shadow: -1px -1px white;
}

.login {
  margin-bottom: 30px;
}
