table {
  align-items: center;
  background: linear-gradient(45deg, #85f3ef, #e5f0ef, #85f3ef);
  background-color: white;
  border-radius: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  gap: 30px;
  margin-bottom: 20px;
  width: 100%;
}

td {
	background-color: rgba(255,255,255,0.2);
  padding: 10px;
}

thead, th {
	background-color: #3BA38D;
  max-width: 100px;
  padding: 10px;
  text-align: center;
}

tbody, tr:hover, td:hover {
  background-color: rgba(34, 30, 30, 0.233);
}

tbody, td:before {
  background-color: rgba(255,255,255,0.2);
}

table, button {
  align-items: center;
  margin: 2px;
}
